/* ---------- GENERAL STYLES ---------- */

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

a, p, h1 {
	color: white;
	text-decoration: none;
	cursor: pointer;
	transition: .15s;
	-webkit-transition: .15s;
}

a:hover {
	opacity: 0.5;
}


@font-face {
	font-family: "regular";
	src: url("fonts/SuisseIntl-Regular.otf");
}

@font-face {
	font-family: "regular-italic";
	src: url("fonts/SuisseIntl-RegularItalic.otf");
}

body {
	background-color: #000000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/* ---------- LAYOUT STYLES ---------- */


.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.top {
	margin-left: 20px;
	margin-top: 15px;
	margin-right: 20px;
	max-width: 900px;
}

.bottom{
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}


/* ---------- TEXT AND IMAGE STYLES ---------- */


.big-text {
	font-family: regular;
	font-size: 32px;
	line-height: 115.7%;
}

.big-super {
	font-size: 18px;
	font-weight: bold;
	vertical-align: super;
	line-height: 0;
}

/* underline styles, not entirely sure how this works... */

a {
	background-image: linear-gradient(to right, white 75%, white 75%);
  	background-position: 0 1.15em;
  	background-repeat: repeat-x;
  	background-size: 8px 1.5px;

}

.footnotes {
	margin-top: 15px;
	margin-bottom: 15px;
	max-width: 380px;
}

.small-text {
	font-family: regular;
	font-size: 14px;
	line-height: 115.7%;
}

.small-super {
	font-size: 10px;
	font-weight: bold;
	vertical-align: super;
	line-height: 0;
}

.preview-img {
	display: block;
	height: 380px;
	margin-top: 15px;
}



/* ---------- MEDIA QUERIES ---------- */


@media (max-width: 739px) {

	.top {
		margin-left: 12px;
		margin-top: 10px;
		margin-right: 12px;
	}

	.bottom{
		margin-bottom: 12px;
		margin-left: 12px;
		margin-right: 12px;
	}


	.big-text {
		font-family: regular;
		font-size: 20px;
		line-height: 115.7%;
	}

	.big-super {
		font-size: 11px;
		font-weight: bold;
		vertical-align: super;
		line-height: 0;
	}

	a {
		background-image: linear-gradient(to right, white 75%, white 75%);
	  	background-position: 0 1.15em;
	  	background-repeat: repeat-x;
	  	background-size: 8px .5px;

	}

	.footnotes {
		margin-top: 10px;
		margin-bottom: 8px;
	}

	.small-text {
		font-family: regular;
		font-size: 12px;
		line-height: 115.7%;
	}

	.small-super {
		font-size: 9px;
		font-weight: bold;
		vertical-align: super;
		line-height: 0;
	}

	.preview-img {
		display: block;
		height: auto;
		width: 47vw;
		margin-top: 10px;
	}

}

@media (max-width: 599px) {

	.footnotes {
		max-width: none;
	}

}
