/*** -------GENERAL STYLES------- ***/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

@font-face {
	font-family: "Helveesti";
	src: url("fonts/Helveesti-Regular.woff");
}

@font-face {
	font-family: "Typewriter";
	src: url("fonts/CMUTypewriter-Light.woff");
}

/** This hides the scrollbars **/
.column-left::-webkit-scrollbar {
    display: none;
}

.column-left-about::-webkit-scrollbar {
    display: none;
}

.column-right::-webkit-scrollbar {
    display: none;
}

body {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    padding-top: 0.15vw
}

.header-container {
    width: 50vw;
    display: flex;
    justify-content: center;
}

.content-section {
	display: flex;
	flex-direction: row;
    justify-content: space-evenly;
}

.column-left {
    height: 100vh;
    width: 49vw;
	overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.column-right {
    height: 100vh;
    width: 49vw;
	overflow: auto;
    display: flex;
    flex-direction: column;
}

/*** -------HOME PAGE STYLES------- ***/

.body-home {
    background-color: #F2EEE3;
}

/***
.header-type-home {
    font-family: "Helveesti";
    font-size: 8.2vw;
    color: black;
}

.top-image {
    padding-top: 7.9vw;
}***/

.header-container a {
    height: 6.8vw; /*** Needed to define the size of the anchor tag in Safari to match Logo class ***/
    width: auto;
    display: block;
}

.logo {
    height: 6.8vw;
    width: auto;
    padding-top: .5vw;
    padding-bottom: 0;
}

/***.image-container {   Made this to fix warping of images but not needed. Just needed the image-container div solo
    width: 49vw;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0.75vw;
}**/

div img {
    width: 49vw;
    height: auto;
    display: block; /** Solved the weird spacing! **/
    padding-bottom: 0.75vw;
}

.top-image {
    padding-top: 7.8vw;
}

.alt-image-1 {
    width: 15vw; /** This targets the images that need resizing **/
}

.alt-image-2 {
    width: 30vw; /** This targets the images that need resizing **/
}

.alt-image-3 {
    width: 20vw; /** This targets the images that need resizing **/
}

.alt-image-4 {
    width: 25vw; /** This targets the images that need resizing **/
}

.alt-image-5 {
    width: 35vw; /** This targets the images that need resizing **/
}

.image-title {
    width: 49vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5vw;
}

.caption-home {
    font-family: "Typewriter";
    font-size: 18px;
    color: black;
}

.caption-link-home {
    text-decoration: underline;
    text-underline-position: under;
}

/*** -------ABOUT PAGE STYLES------- ***/

.body-about {
    background-color: #F2EEE3;
}

.header-type-about {
    font-family: "Helveesti";
    font-size: 8.2vw;
    color: black;
}

/*** special column for content left aligned ***/

.column-left-about {
    height: 100vh;
    width: 49vw;
	overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

p {
    font-family: "Helveesti";
    font-size: 34px;
    color: black;
    padding-top: 7.9vw;
    padding-bottom: 40px;
}

.caption-about {
    font-family: "Typewriter";
    font-size: 18px;
    line-height: 19px;
    color: black;
    max-width: 500px;
    padding-bottom: 0.75vw;
}

.caption-link-about {
    text-decoration: underline;
    text-underline-position: under;
}

/*** Different Screen Sizes ***/

@media screen and (max-width: 1500px) {
    p {
        font-size: 28px;
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 900px) {

    /*** HOME PAGE ***/

    header {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .header-container {
        width: 100vw;
        padding-top: 0.3vw;
        padding-bottom: 5.2vw;
    }

    .logo {
        height: 12vw;
        width: auto;
        padding-top: .5vw;
        padding-bottom: 0;
    }

    .top-image {
        padding-top: 26.1vw;
    }

    /*** ABOUT PAGE ***/

    #content-section-about {
        flex-direction: column-reverse;
        width: 100vw;
    }

    .column-left-about {
        width: 100vw;
        height: auto;
    }

    #column-right-about {
        width: 100vw;
        height: auto;
    }

    #graph {
        width: 100vw;
        display: block; /** Solved the weird spacing! **/
        padding-bottom: 0.75vw;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    p {
        padding-top: 10px;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .caption-about {
        padding-left: 1vw;
        padding-right: 1vw;
    }

}

@media screen and (max-width: 550px) {

    /*** HOME PAGE ***/


    .image-title {
        padding-bottom: 15vw;
    }

    .caption-home {
        font-size: 12px;
        line-height: 15px;
    }

    .alt-image-1 {
        width: 25vw; /** This targets the images that need resizing **/
    }

    .alt-image-2 {
        width: 30vw; /** This targets the images that need resizing **/
    }

    .alt-image-3 {
        width: 30vw; /** This targets the images that need resizing **/
    }

    .alt-image-4 {
        width: 35vw; /** This targets the images that need resizing **/
    }

    .alt-image-5 {
        width: 45vw; /** This targets the images that need resizing **/
    }


    /*** ABOUT PAGE ***/

    p {
        font-size: 22px;
        padding-bottom: 40px;
    }

    .caption-about {
        font-size: 14px;
        line-height: 15px;
    }

}
